*,
::before ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-bloc {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  background-color: #555555;
  a {
    font-size: 30px;
    color: aliceblue;
    padding: 10px;
    cursor: pointer;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    &::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      border-radius: 3px;
      background: aqua;
      transition: width 0.2s ease-out;
    }
    &:hover::after {
      width: 100%;
    }
  }
  a.active {
    &::after {
      width: 100%;
    }
  }
}
